/* Variables
--------------------------------------- */

$font-colour: #999;
$font-family: pnr, sans-serif;
$facebook: #3b5998;
$instagram: #4e433c;
$linkedin: #0181b2;
$twitter: #4099ff;

$blue: #6eceeb;
$green: #3dcabe;
$red: #e26a6a;



/* Fonts
--------------------------------------- */

@font-face{font-family:pnlr;src:url('../fonts/proxima-nova/proximanova-light-webfont.eot');src:url('../fonts/proxima-nova/proximanova-light-webfont.eot?#iefix')format('embedded-opentype'),url('../fonta/proxima-nova/proximanova-light-webfont.woff')format('woff'),url('../fonts/proxima-nova/proximanova-light-webfont.ttf')format('truetype'),url('../fonts/proxima-nova/proximanova-light-webfont.svg#proxima_nova_ltregular')format('svg');font-style:normal;font-weight:normal;}
@font-face{font-family:pnrb;src:url('../fonts/proxima-nova/proximanova-bold-webfont.eot');src:url('../fonts/proxima-nova/proximanova-bold-webfont.eot?#iefix')format('embedded-opentype'),url('../fonts/proxima-nova/proximanova-bold-webfont.woff')format('woff'),url('../fonts/proxima-nova/proximanova-bold-webfont.ttf')format('truetype'),url('../fonts/proxima-nova/proximanova-bold-webfont.svg#proxima_nova_rgbold')format('svg');font-style:normal;font-weight:normal;}
@font-face{font-family:pnr;src:url('../fonts/proxima-nova/proximanova-regular-webfont.eot');src:url('../fonts/proxima-nova/proximanova-regular-webfont.eot?#iefix')format('embedded-opentype'),url('../fonts/proxima-nova/proximanova-regular-webfont.woff')format('woff'),url('../fonts/proxima-nova/proximanova-regular-webfont.ttf')format('truetype'),url('../fonts/proxima-nova/proximanova-regular-webfont.svg#proxima_nova_rgregular')format('svg');font-style:normal;font-weight:normal;}
@font-face{font-family:pncr;src:url('../fonts/proxima-nova/proximanovacond-regular-webfont.eot');src:url('../fonts/proxima-nova/proximanovacond-regular-webfont.eot?#iefix')format('embedded-opentype'),url('../fonts/proxima-nova/proximanovacond-regular-webfont.woff')format('woff'),url('../fonts/proxima-nova/proximanovacond-regular-webfont.ttf')format('truetype'),url('../fonts/proxima-nova/proximanovacond-regular-webfont.svg#proxima_nova_cn_rgregular')format('svg');font-style:normal;font-weight:normal;}
@font-face{font-family:pncl;src:url('../fonts/proxima-nova/proximanovacond-light-webfont.eot');src:url('../fonts/proxima-nova/proximanovacond-light-webfont.eot?#iefix')format('embedded-opentype'),url('../fonts/proxima-nova/proximanovacond-light-webfont.woff')format('woff'),url('../fonts/proxima-nova/proximanovacond-light-webfont.ttf')format('truetype'),url('../fonts/proxima-nova/proximanovacond-light-webfont.svg#proxima_nova_cn_ltregular')format('svg');font-style:normal;font-weight:normal;}
@font-face{font-family:pncb;src:url('../fonts/proxima-nova/proximanovacond-semibold-webfont.eot');src:url('../fonts/proxima-nova/proximanovacond-semibold-webfont.eot?#iefix')format('embedded-opentype'),url('../fonts/proxima-nova/proximanovacond-semibold-webfont.woff')format('woff'),url('../fonts/proxima-nova/proximanovacond-semibold-webfont.ttf')format('truetype'),url('../fonts/proxima-nova/proximanovacond-semibold-webfont.svg#proxima_nova_cn_ltbold')format('svg');font-style:normal;font-weight:normal;}
@font-face{font-family:ms;src:url('../fonts/mission-script/mission-script-webfont.eot');src:url('../fonts/mission-script/mission-script-webfont.eot?#iefix')format('embedded-opentype'),url('../fonts/mission-script/mission-script-webfont.woff')format('woff'),url('../fonts/mission-script/mission-script-webfont.ttf')format('truetype'),url('../fonts/mission-script/mission-script-webfont.svg#mission_scriptregular')format('svg');font-style:normal;font-weight:normal;}


/* General
--------------------------------------- */

body {
	color: $font-colour;
	font-family: $font-family;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.blue {
	background: $blue;
	color: #fff;
}

.green {
	background: $green;
	color: #fff;

	a {
		color: darken($green, 15%);
	}
}

.red {
	background: $red;
	color: #fff;

	a {
		color: lighten($red, 15%);
	}
}

a {
	color: #61a3e1;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1em 0;
	padding: 0;
}

h1 {
	letter-spacing: -1px;
	margin-bottom: 0.5em;
	@include px-rem(font-size, 3);
}

ol, p, ul {
	margin-bottom: 2em;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 90%;
}

@include grid(global, 12, 4%);



/* General
--------------------------------------- */

.content {
	padding: 2em 0;

	.container {
		@extend .cf;
	}
}



/* Page loader
--------------------------------------- */

.page-loader {
	height: 100%;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
	@include vendor(transition, opacity 0.3s ease-in);

	&.show {
		background: #eee;
		opacity: 1;
		z-index: 1;
	}

	&:after {
		border-bottom:15px solid #999;
		border-left: 15px solid #ccc;
		border-right: 15px solid #999;
		border-top:15px solid #ccc;
		content: '';
		display: block;
		height: 30px;
		left: 50%;
		margin: -15px 0 0 -15px;
		position: absolute;
		top: 50%;
		width: 30px;
		@include vendor(border-radius, 50%);
		-webkit-animation: rotate 2s infinite linear;
     	-moz-animation: rotate 2s infinite linear;
       	-o-animation: rotate 2s infinite linear;
		animation: rotate 2s infinite linear;
	}
}

@-webkit-keyframes rotate
{
	0%  { -webkit-transform: rotate(0deg); }
  	100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotate
{
	0%  { -moz-transform: rotate(0deg); }
  	100% { -moz-transform: rotate(360deg); }
}

@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}



/* Article
--------------------------------------- */

article {
	float: left;
	width: 65%;

	.full-width &, .wide & {
		float: none;
		width: 100%;
	}
}


.article-content {

	p:last-child {
		margin: 0;
	}
}


/* Animations
--------------------------------------- */

%bob {
	-webkit-animation-name: bob;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 0;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: bob;
	-moz-animation-duration: 2.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-delay: 0;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: ease-in-out;
}

.bob:hover {
	-webkit-animation-play-state: paused;
}

@-webkit-keyframes bob
{
	50%  { -webkit-transform:translateY(-5px); }
  	100% { -webkit-transform:translateY(0);    }
}

@-moz-keyframes bob
{
	50%  { -moz-transform: translateY(-5px);  }
  	100% { -moz-transform: translateY(0);     }
}

@-webkit-keyframes wiggle
{
	0%, 41% { -webkit-transform: translateX(0);    }
	15% 	{ -webkit-transform: translateX(-2px); }
	25% 	{ -webkit-transform: translateX(5px);  }
	34% 	{ -webkit-transform: translateX(-2px); }
}

@-moz-keyframes wiggle
{
	0%, 41% { -moz-transform: translateX(0);    }
	15% 	{ -moz-transform: translateX(-2px); }
	25% 	{ -moz-transform: translateX(5px);  }
  	34%     { -moz-transform: translateX(-2px); }
}

.get-in-touch
{
	display: inline-block;
  	-webkit-animation-name: wiggle;
  	-webkit-animation-duration: 3s;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-delay: 5s;
  	-webkit-animation-direction: normal;
  	-webkit-animation-timing-function: ease-in-out;
  	-moz-animation-name: wiggle;
  	-moz-animation-duration: 3s;
  	-moz-animation-iteration-count: infinite;
  	-moz-animation-delay: 5s;
  	-moz-animation-direction: normal;
  	-moz-animation-timing-function: ease-in-out;
}