/* Banner
--------------------------------------- */

.banner {
	overflow: hidden;
}

.banner-text {
	font-family: pncl;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	@include px-rem(font-size, 1.625);

	@include respond-min($desktop) {
		@include px-rem(font-size, 2);
		@include px-rem(margin-bottom, 2);

		span {
			display: inline-block;
			line-height: 1;
		}
	}

	@include respond-min(60em) {
		@include px-rem(font-size, 2.5);
	}
}