/* Header
--------------------------------------- */

header {
	background: #000;
	@include px-rem(padding, 0.75, 0);
}

.header-logo {
	color: #fff;
	letter-spacing: -1px;
	@include px-rem(font-size, 1.375);
}

.header-nav {
	display: none;
}

.header-nav-toggle {
	@extend .cf;
	color: #fff;
  	cursor: pointer;
  	float: right;
  	margin-top: 0.25em;
  	@include px-rem(font-size, .875);
  	@include vendor(transition, all 0.3s ease-in-out);

  	&.open {
    	@include vendor(opacity, 0.5);
  	}
}

.header-nav-toggle-grippy {
  	border-bottom: 5px solid lighten(#3498db, 20%);
  	border-top: 5px solid #3498db;
  	float: left;
  	line-height: 0;
  	margin-right: 1em;
  	padding: 5px 0;
  	text-indent: -999em;
  	width: 35px;

  	&:after {
    	background: lighten(#3498db, 10%);
    	content: '';
    	display: block;
    	height: 5px;
  	}
}

.header-nav-toggle-label {
  	float: left;
  	font-weight: 700;
  	height: 25px;
  	letter-spacing: 1px;
  	line-height: 25px;
  	text-transform: uppercase;
}
